<h1 class="text-center">Liste des Clients</h1>

<div class="d-flex justify-content-between mb-3">
  <div class="input-group w-50">
    <input type="text" class="form-control"
           [(ngModel)]="keyword" (keyup.enter)="chercherClients()">
    <button class="btn btn-outline-secondary" type="button" (click)="chercherClients()">
      <i class="bi-search"></i>
    </button>
  </div>
  <button class="btn btn-primary" (click)="nouveauClient()">
    <i class="bi-person-plus-fill"></i> Nouveau Client
  </button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>AGE</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    @if (clients && Array.isArray(clients)) {
      @for (c of clients; track c.id) {
        <tr>
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.age}}</td>
          <td>
            <button (click)="modifierClient(c)" class="btn btn-outline-info btn-sm me-2">
              <i class="bi-pencil-square"></i> Modifier
            </button>
            <button (click)="deleteClient(c)" class="btn btn-outline-danger btn-sm">
              <i class="bi-trash-fill"></i> Supprimer
            </button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
